 
 $primary-color: #2e7b90;;

.cin-error
{
  background-color: #ececec;
    color: #252525;
    padding: 2px;
    font-family: Arial;
    font-weight: 600;
    font-size: 13px;
    margin-top: -10px;
    text-align: left;
    padding-left: 7px;
    margin-bottom: 10px;
}
.note__
{
    font-family: Arial;
    font-weight: bold;
    margin-top: 20px;
    background-color: #252525;
    padding: 5px;
    color: white;
    font-size: 12px
}

 .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  mat-form-field {
    width: 100% !important;
  }

