<div class="full">
  <app-particale-effect></app-particale-effect>

  <div class="container">
    <div class="info">
      <!--<label style="color:white;font-size: 20px">Plateforme de vote electronique</label>-->
    </div>
  <div class="form">
    <div class="thumbnail">
       <!--  <img src="../../assets/images/vote.png"/> "https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg" -->
     
        <svg viewBox="0 0 1280 720" enable-background="new 0 0 1280 720" xml:space="preserve">

          <g id="Layer_2">
            <g id="box-card">
              
                <rect class="stroke_rec" x="643.359" y="130.761" transform="matrix(0.9077 -0.4197 0.4197 0.9077 -5.944 316.5044)" fill="none" stroke="#0068FF" stroke-width="15" stroke-miterlimit="10" width="145.96" height="82"/>
              
                <rect class="fill_rec" x="701.436" y="138.937" transform="matrix(0.9077 -0.4197 0.4197 0.9077 7.6389 320.795)" fill="#0068FF" width="62.867" height="8.2"/>
              
                <rect class="fill_rec" x="707.86" y="152.83" transform="matrix(0.9077 -0.4197 0.4197 0.9077 2.4011 324.7742)" fill="#0068FF" width="62.867" height="8.2"/>
            </g>
            
            <g id="urne">
              <g>
                <rect  class="stroke_rec" x="437.5" y="222.5" fill="#FFFFFF" stroke="#0068FF" stroke-width="15" stroke-miterlimit="10" width="405" height="290"/>
                <rect class="fill_rec" x="437" y="260" fill="#0068FF" width="405" height="14"/>
              </g>
              <g id="logo_text" >
                <path d="M550.862,350.597h11.621l-30.237,75.431h-7.963l-30.237-75.431h11.836l22.382,56.277L550.862,350.597z"/>
                <path d="M581.532,360.927c6.887-6.994,16.571-11.406,27.117-11.406c10.653,0,20.229,4.412,27.224,11.406
                  c6.78,6.994,11.191,16.571,11.191,27.224c0,10.653-4.411,20.23-11.191,27.225c-6.995,7.102-16.571,11.406-27.224,11.406
                  c-10.545,0-20.23-4.305-27.117-11.406c-6.779-6.994-11.191-16.571-11.191-27.225C570.341,377.498,574.753,367.921,581.532,360.927
                  z M628.125,368.674c-5.058-5.057-12.052-8.178-19.477-8.178s-14.312,3.121-19.261,8.178c-4.95,4.95-8.07,11.837-8.07,19.477
                  c0,7.641,3.12,14.527,8.07,19.477c4.95,5.058,11.836,8.179,19.261,8.179s14.419-3.121,19.477-8.179
                  c4.842-4.949,7.962-11.729,7.962-19.477C636.087,380.403,632.967,373.624,628.125,368.674z"/>
                <path d="M676.768,426.136v-64.671h-22.813v-10.976h56.386v10.976h-22.705v64.671H676.768z"/>
                <path d="M736.598,414.944h34.972v10.868h-45.947v-75.216h45.84v10.868h-34.864v21.198h34.111v10.976h-34.111V414.944z"/>
              </g>
            </g>
            
            
          </g>
          </svg>

      </div>
    <br>

     <form [formGroup]="authForm" (ngSubmit)="login()">
        <mat-form-field class="example-full-width">
          <input (keypress)="numberOnly($event)" onKeyPress="if(this.value.length==8) return false;" formControlName="cin" matInput placeholder="Cin" autocomplete="cin"><br>
         
         </mat-form-field>
       <div class="cin-error" *ngIf="cin_error.length!=0" >{{cin_error}}</div>
         <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="date_naissance">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> <br>
          
        <div class="note__">
          Click continue to login
        </div>
       
 
        
        <br><br>
        <button class="continueButton" style="width: 100%;" mat-flat-button color="primary" [disabled]="!authForm.valid">Continue</button>
     </form>
 
 
  </div>
</div>

<notifier-container></notifier-container>
