@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Bangers');

.pie-title
{
    font-size: 17px;
    text-align: center;
    background-color: #1451a5;
    color: white;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 450;
}