<div class="timer">
    <div  class="time-label">
      <div class="t" >Days</div>
      <div class="time-value">{{ days }}</div> 
    </div>
    <div  class="time-label">
      <div class="t">Hours</div>
      <div class="time-value">{{ hours }}</div> 
    </div>
    <div  class="time-label">
      <div class="t">Minutes</div>
      <div class="time-value">{{ minutes }}</div> 
    </div>
    <div style="margin-right: 0" class="time-label">
      <div class="t">Seconds</div>
      <div class="time-value">{{ seconds }}</div> 
    </div>  
</div>