mat-form-field
{
    width: 250px;
}

.code-postal-error
{
  background-color: #ececec;
    color: #252525;
    padding: 2px;
    font-family: Arial;
    font-weight: 600;
    font-size: 13px;
    margin-top: -10px;
    text-align: left;
    padding-left: 7px;
    margin-bottom: 10px;
}
